body {
    background-color: #222;
    color: #00D000;
    letter-spacing: 1px;
}

h2 {
    margin: 0 0 0 0;
}

#article {
    text-align: left;
    font: 17px/2 Helvetica, Georgia, Serif;
    width: 35%;
    margin: 0 0 0 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* border-left:1px dotted #555; */
    /* border-right: 1px dotted #555; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#blogtitle {
    margin-top: 20px;
    font: 17px/2 Helvetica, Georgia, Serif;
}

.circular--portrait {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--portrait img {

    width: 100%;
    height: auto;
}

#menu {
    font: 16px/2 Helvetica, Georgia, Serif;
    white-space: normal;
    margin: 30px 0 10px 0;
}

#menu a {
    background-color: #222;
    margin-right: 18px;
    /* font-size:17px; */
    text-decoration: none;
    color: #00D000;
}

#menu a:hover {
    background-color: #222;
    color: #00F000;
}

#menu a:visited {
    color: #006000;
}

a {
    background-color: #333;
    text-decoration: none;
    color: #00D000;
}

a:hover {
    background-color: #222;
    color: #00F000;
}

#code {
    margin-top: 10px;
    margin-bottom: 5px;
    white-space: normal;
}