<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>blackball</title>    
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="../simpleplayer.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/jquery.simpleplayer.js"></script>
    <script>
      $(document).ready(function(){
      $("#home").click(function(){
      $("#toggle").toggle(1500);
      });
      });
      $(document).ready(function() {
      var settings = {
      progressbarWidth: '0px',
      progressbarHeight: '0px',
      progressbarColor: '#ffffff',
      progressbarBGColor: '#ffffff',
      defaultVolume: 0.8
      };
      $(".player").player(settings);
      });

    </script>

  </head>
  <body>
    <div id="home"></div>
    
    <div id="blank"></div>

    <div id="toggle">

      <div id="page-wrap">
        <h3>冬天</h3>
        <p>
          昨晚上敏向女朋友求婚了。中午给亮儿还有三毛都打了电话，各自随便寒暄了几句，好长时间没有联系。
        </p>
        <p>
          挂掉电话后，我在小区边天虹的广场上迎着太阳站了会儿，前两天温度骤降，今天似乎又升上来了。阳光温热的扑在脸上，皮肤干燥。
        </p>
        <p class="date">Dec 01, 2013</p>
        <center>
          <audio class="player" autoplay="autoplay" src="../music/test.mp3"></audio>
        </center>
      </div>

      <div id="bottom">
        <p>
          <em><a href="../index.html">Home</a></em>&nbsp;|&nbsp;<em><a href="../archives.html">Archives</a></em>
        </p>
      </div>
    </div>
  </body>
</html>
